services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    

  db:
    image: postgres:16-alpine
    ports: 
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust

